<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Restoran</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servleti.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servleti.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterRestoran</display-name>
    <servlet-name>RegisterRestoran</servlet-name>
    <servlet-class>servleti.RegisterRestoran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRestoran</servlet-name>
    <url-pattern>/RegisterRestoran</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KonobarFirstLogIn</display-name>
    <servlet-name>KonobarFirstLogIn</servlet-name>
    <servlet-class>servleti.KonobarFirstLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KonobarFirstLogIn</servlet-name>
    <url-pattern>/KonobarFirstLogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KuvarFirstLogin</display-name>
    <servlet-name>KuvarFirstLogin</servlet-name>
    <servlet-class>servleti.KuvarFirstLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KuvarFirstLogin</servlet-name>
    <url-pattern>/KuvarFirstLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SankerFirstLogin</display-name>
    <servlet-name>SankerFirstLogin</servlet-name>
    <servlet-class>servleti.SankerFirstLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SankerFirstLogin</servlet-name>
    <url-pattern>/SankerFirstLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKonobar</display-name>
    <servlet-name>UpdateKonobar</servlet-name>
    <servlet-class>servleti.UpdateKonobar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKonobar</servlet-name>
    <url-pattern>/UpdateKonobar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenadzerRestoranaReg</display-name>
    <servlet-name>MenadzerRestoranaReg</servlet-name>
    <servlet-class>servleti.MenadzerRestoranaReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenadzerRestoranaReg</servlet-name>
    <url-pattern>/MenadzerRestoranaReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateKuvar</display-name>
    <servlet-name>UpdateKuvar</servlet-name>
    <servlet-class>servleti.UpdateKuvar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateKuvar</servlet-name>
    <url-pattern>/UpdateKuvar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSanker</display-name>
    <servlet-name>UpdateSanker</servlet-name>
    <servlet-class>servleti.UpdateSanker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSanker</servlet-name>
    <url-pattern>/UpdateSanker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaKuvaraServlet</display-name>
    <servlet-name>RegistracijaKuvaraServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaKuvaraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaKuvaraServlet</servlet-name>
    <url-pattern>/RegistracijaKuvaraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaKonobaraServlet</display-name>
    <servlet-name>RegistracijaKonobaraServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaKonobaraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaKonobaraServlet</servlet-name>
    <url-pattern>/RegistracijaKonobaraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaSankeraServlet</display-name>
    <servlet-name>RegistracijaSankeraServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaSankeraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaSankeraServlet</servlet-name>
    <url-pattern>/RegistracijaSankeraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistracijaPonudjacaServlet</display-name>
    <servlet-name>RegistracijaPonudjacaServlet</servlet-name>
    <servlet-class>servleti.marko.RegistracijaPonudjacaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaPonudjacaServlet</servlet-name>
    <url-pattern>/RegistracijaPonudjacaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazMenadzeraRestorana</display-name>
    <servlet-name>PrikazMenadzeraRestorana</servlet-name>
    <servlet-class>servleti.marko.PrikazMenadzeraRestorana</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PonudjacUpdateServlet</display-name>
    <servlet-name>PonudjacUpdateServlet</servlet-name>
    <servlet-class>servleti.marko.PonudjacUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacUpdateServlet</servlet-name>
    <url-pattern>/PonudjacUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PonudjacServlet</display-name>
    <servlet-name>PonudjacServlet</servlet-name>
    <servlet-class>servleti.marko.PonudjacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacServlet</servlet-name>
    <url-pattern>/PonudjacServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PonudjacSacuvajServlet</display-name>
    <servlet-name>PonudjacSacuvajServlet</servlet-name>
    <servlet-class>servleti.marko.PonudjacSacuvajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacSacuvajServlet</servlet-name>
    <url-pattern>/PonudjacSacuvajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranNazivServlet</display-name>
    <servlet-name>RestoranNazivServlet</servlet-name>
    <servlet-class>servleti.marko.RestoranNazivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranNazivServlet</servlet-name>
    <url-pattern>/RestoranNazivServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranNazivUpdate</display-name>
    <servlet-name>RestoranNazivUpdate</servlet-name>
    <servlet-class>servleti.marko.RestoranNazivUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranNazivUpdate</servlet-name>
    <url-pattern>/RestoranNazivUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranNazivSacuvaj</display-name>
    <servlet-name>RestoranNazivSacuvaj</servlet-name>
    <servlet-class>servleti.marko.RestoranNazivSacuvaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranNazivSacuvaj</servlet-name>
    <url-pattern>/RestoranNazivSacuvaj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikAddServlet</display-name>
    <servlet-name>JelovnikAddServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikAddServlet</servlet-name>
    <url-pattern>/JelovnikAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaAddServlet</display-name>
    <servlet-name>KartaPicaAddServlet</servlet-name>
    <servlet-class>servleti.marko.KartaPicaAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaAddServlet</servlet-name>
    <url-pattern>/KartaPicaAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikUpdateServlet</display-name>
    <servlet-name>JelovnikUpdateServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikUpdateServlet</servlet-name>
    <url-pattern>/JelovnikUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaUpdateServlet</display-name>
    <servlet-name>KartaPicaUpdateServlet</servlet-name>
    <servlet-class>servleti.marko.KartaPicaUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaUpdateServlet</servlet-name>
    <url-pattern>/KartaPicaUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikDeleteServlet</display-name>
    <servlet-name>JelovnikDeleteServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikDeleteServlet</servlet-name>
    <url-pattern>/JelovnikDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaDeleteServlet</display-name>
    <servlet-name>KartaPicaDeleteServlet</servlet-name>
    <servlet-class>servleti.marko.KartaPicaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaDeleteServlet</servlet-name>
    <url-pattern>/KartaPicaDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PiceAddServlet</display-name>
    <servlet-name>PiceAddServlet</servlet-name>
    <servlet-class>servleti.marko.PiceAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PiceAddServlet</servlet-name>
    <url-pattern>/PiceAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeloAddServlet</display-name>
    <servlet-name>JeloAddServlet</servlet-name>
    <servlet-class>servleti.marko.JeloAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeloAddServlet</servlet-name>
    <url-pattern>/JeloAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPiceServlet</display-name>
    <servlet-name>AddPiceServlet</servlet-name>
    <servlet-class>servleti.marko.AddPiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPiceServlet</servlet-name>
    <url-pattern>/AddPiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KartaPicaSacuvaj</display-name>
    <servlet-name>KartaPicaSacuvaj</servlet-name>
    <servlet-class>servleti.marko.KartaPicaSacuvaj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KartaPicaSacuvaj</servlet-name>
    <url-pattern>/KartaPicaSacuvaj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JelovnikSacuvajServlet</display-name>
    <servlet-name>JelovnikSacuvajServlet</servlet-name>
    <servlet-class>servleti.marko.JelovnikSacuvajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JelovnikSacuvajServlet</servlet-name>
    <url-pattern>/JelovnikSacuvajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMenadzerRestorana</display-name>
    <servlet-name>UpdateMenadzerRestorana</servlet-name>
    <servlet-class>servleti.UpdateMenadzerRestorana</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMenadzerRestorana</servlet-name>
    <url-pattern>/UpdateMenadzerRestorana</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMenadzerRestorana</display-name>
    <servlet-name>DeleteMenadzerRestorana</servlet-name>
    <servlet-class>servleti.DeleteMenadzerRestorana</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenadzerRestorana</servlet-name>
    <url-pattern>/DeleteMenadzerRestorana</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRestoran</display-name>
    <servlet-name>UpdateRestoran</servlet-name>
    <servlet-class>servleti.UpdateRestoran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRestoran</servlet-name>
    <url-pattern>/UpdateRestoran</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRestoran</display-name>
    <servlet-name>DeleteRestoran</servlet-name>
    <servlet-class>servleti.DeleteRestoran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRestoran</servlet-name>
    <url-pattern>/DeleteRestoran</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMenadzerSistema</display-name>
    <servlet-name>UpdateMenadzerSistema</servlet-name>
    <servlet-class>servleti.UpdateMenadzerSistema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMenadzerSistema</servlet-name>
    <url-pattern>/UpdateMenadzerSistema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PonudjacReg</display-name>
    <servlet-name>PonudjacReg</servlet-name>
    <servlet-class>servleti.PonudjacReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PonudjacReg</servlet-name>
    <url-pattern>/PonudjacReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePonudjac</display-name>
    <servlet-name>UpdatePonudjac</servlet-name>
    <servlet-class>servleti.UpdatePonudjac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePonudjac</servlet-name>
    <url-pattern>/UpdatePonudjac</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePonudjac</display-name>
    <servlet-name>DeletePonudjac</servlet-name>
    <servlet-class>servleti.DeletePonudjac</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePonudjac</servlet-name>
    <url-pattern>/DeletePonudjac</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePorudzbinaKonobar</display-name>
    <servlet-name>UpdatePorudzbinaKonobar</servlet-name>
    <servlet-class>servleti.UpdatePorudzbinaKonobar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePorudzbinaKonobar</servlet-name>
    <url-pattern>/UpdatePorudzbinaKonobar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRacun</display-name>
    <servlet-name>InsertRacun</servlet-name>
    <servlet-class>servleti.InsertRacun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRacun</servlet-name>
    <url-pattern>/InsertRacun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KuvarAccept</display-name>
    <servlet-name>KuvarAccept</servlet-name>
    <servlet-class>servleti.KuvarAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KuvarAccept</servlet-name>
    <url-pattern>/KuvarAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SankerAccept</display-name>
    <servlet-name>SankerAccept</servlet-name>
    <servlet-class>servleti.SankerAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SankerAccept</servlet-name>
    <url-pattern>/SankerAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SankerGotovo</display-name>
    <servlet-name>SankerGotovo</servlet-name>
    <servlet-class>servleti.SankerGotovo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SankerGotovo</servlet-name>
    <url-pattern>/SankerGotovo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KuvarGotovo</display-name>
    <servlet-name>KuvarGotovo</servlet-name>
    <servlet-class>servleti.KuvarGotovo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KuvarGotovo</servlet-name>
    <url-pattern>/KuvarGotovo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPonudaServlet</display-name>
    <servlet-name>AddPonudaServlet</servlet-name>
    <servlet-class>servleti.marko.AddPonudaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPonudaServlet</servlet-name>
    <url-pattern>/AddPonudaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NamirnicaSacuvajServlet</display-name>
    <servlet-name>NamirnicaSacuvajServlet</servlet-name>
    <servlet-class>servleti.marko.NamirnicaSacuvajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NamirnicaSacuvajServlet</servlet-name>
    <url-pattern>/NamirnicaSacuvajServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajCenuServlet</display-name>
    <servlet-name>SacuvajCenuServlet</servlet-name>
    <servlet-class>servleti.marko.SacuvajCenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajCenuServlet</servlet-name>
    <url-pattern>/SacuvajCenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazKonobara</display-name>
    <servlet-name>PrikazKonobara</servlet-name>
    <servlet-class>servleti.marko.PrikazKonobara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikazKonobara</servlet-name>
    <url-pattern>/PrikazKonobara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajOdabraneServlet</display-name>
    <servlet-name>SacuvajOdabraneServlet</servlet-name>
    <servlet-class>servleti.marko.SacuvajOdabraneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajOdabraneServlet</servlet-name>
    <url-pattern>/SacuvajOdabraneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SacuvajOdbijeneServlet</display-name>
    <servlet-name>SacuvajOdbijeneServlet</servlet-name>
    <servlet-class>servleti.marko.SacuvajOdbijeneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SacuvajOdbijeneServlet</servlet-name>
    <url-pattern>/SacuvajOdbijeneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registracija</display-name>
    <servlet-name>Registracija</servlet-name>
    <servlet-class>servletiDejan.Registracija</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registracija</servlet-name>
    <url-pattern>/Registracija</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginD</display-name>
    <servlet-name>LoginD</servlet-name>
    <servlet-class>servletiDejan.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginD</servlet-name>
    <url-pattern>/LoginD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutD</display-name>
    <servlet-name>LogoutD</servlet-name>
    <servlet-class>servletiDejan.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutD</servlet-name>
    <url-pattern>/LogoutD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Izmena</display-name>
    <servlet-name>Izmena</servlet-name>
    <servlet-class>servletiDejan.Izmena</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Izmena</servlet-name>
    <url-pattern>/Izmena</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajPrijatelja</display-name>
    <servlet-name>DodajPrijatelja</servlet-name>
    <servlet-class>servletiDejan.DodajPrijatelja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajPrijatelja</servlet-name>
    <url-pattern>/DodajPrijatelja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzbrisiPrijatelja</display-name>
    <servlet-name>IzbrisiPrijatelja</servlet-name>
    <servlet-class>servletiDejan.IzbrisiPrijatelja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzbrisiPrijatelja</servlet-name>
    <url-pattern>/IzbrisiPrijatelja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PotvrdaRegistracije</display-name>
    <servlet-name>PotvrdaRegistracije</servlet-name>
    <servlet-class>servletiDejan.PotvrdaRegistracije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PotvrdaRegistracije</servlet-name>
    <url-pattern>/PotvrdaRegistracije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtkazRegistracije</display-name>
    <servlet-name>OtkazRegistracije</servlet-name>
    <servlet-class>servletiDejan.OtkazRegistracije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtkazRegistracije</servlet-name>
    <url-pattern>/OtkazRegistracije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RezervacijaRestorana</display-name>
    <servlet-name>RezervacijaRestorana</servlet-name>
    <servlet-class>servletiDejan.RezervacijaRestorana</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RezervacijaRestorana</servlet-name>
    <url-pattern>/RezervacijaRestorana</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Oceni</display-name>
    <servlet-name>Oceni</servlet-name>
    <servlet-class>servletiDejan.Oceni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oceni</servlet-name>
    <url-pattern>/Oceni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>servletiDejan.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pozovi</display-name>
    <servlet-name>Pozovi</servlet-name>
    <servlet-class>servletiDejan.Pozovi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pozovi</servlet-name>
    <url-pattern>/Pozovi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoruciJelo</display-name>
    <servlet-name>PoruciJelo</servlet-name>
    <servlet-class>servletiDejan.PoruciJelo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoruciJelo</servlet-name>
    <url-pattern>/PoruciJelo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoruciPice</display-name>
    <servlet-name>PoruciPice</servlet-name>
    <servlet-class>servletiDejan.PoruciPice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoruciPice</servlet-name>
    <url-pattern>/PoruciPice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MojaPoseta</display-name>
    <servlet-name>MojaPoseta</servlet-name>
    <servlet-class>servletiDejan.MojaPoseta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MojaPoseta</servlet-name>
    <url-pattern>/MojaPoseta</url-pattern>
  </servlet-mapping>
</web-app>