body{
	margin: 0;
	padding: 0
}
div.znak{
	margin: auto;
    height: 150px;
	width: 12%;
    padding: 10px;
	position:center
}
img.slika{
	display: inline;
	height:150px;
	width:auto;
	float: center
}

input.centar{
	position:center;
	font-family:Arial;
	font-size:25px;
	border: 1px solid black
}
div.fild{
	margin: auto;
    height: 150px;
	width: 25%;
    padding: 10px;
	position:center
}
input.dugme{
	font-family:Arial;
	font-size:25px;
}
input.dugmad{
	font-family:Arial;
	font-size:25px;
	margin-left:20px
}